<%= flash[:success] %>
<%= link_to 'Editar', edit_employee_path(@employee) %>

<h1><%= "Nome: #{@employee.name}" %></h1>
<p><%= "Unidade: #{@employee.gym}" %></p>
<p><%= "Status: #{@employee.status}" %></p>
<p><%= "Email específico: #{@employee.email}" %></p>
<p><%= "Admin: #{@employee.admin}" %></p>

<%= link_to 'Voltar', root_path %>