<% if @client.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @client.errors.full_messages.each do |message| %>
      <li> <%= message %>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @client do |f| %>
<%= f.label :name %>
<%= f.text_field :name %> 
<%= f.label :cpf %>
<%= f.text_field :cpf %>
<%= f.label :email %>
<%= f.email_field :email %>
<%= f.label :gym_id %>
<%= f.collection_select(:gym_id, Gym.all, :id, :name) %>
<%= f.label :plan_id %>
<%= f.collection_select(:plan_id, Plan.all, :id, :name) %>
<%= f.submit %>
<% end %>
