 <p>Endereço: <%= @client.profile.address %></p>
  <p>Data de nascimento: <%= @client.profile.date_of_birth %></p>
  <p>Gênero: <%= @client.profile.gender %></p>
  <p>Contato: <%= @client.profile.contact %></p>
  <p>Apelido: <%= @client.profile.nickname %></p>
  <p>Método de pagamento: <%= @client.profile.payment_method %></p>