<h3>Matrícula</h3>

<p><%= @client.name %></p>
<p><%= @client.cpf %></p>
<p><%= @client.email%></p>
<p><%= @client.gym.name %></p>
<p><%= @client.plan.name %></p>
<p>Status: <%= @client.status %></p>
<% if @client.profile %>
  <p><%= @client.profile.address %></p>
  <p><%= @client.profile.date_of_birth %></p>
  <p><%= @client.profile.gender %></p>
  <p><%= @client.profile.contact %></p>
  <p><%= @client.profile.nickname %></p>
  <p><%= @client.profile.payment_method %></p>
  <p><%= @client.profile.work_document %></p>
<% else%>
  <p> Perfil não encontrado </p>
<% end %>



<%= link_to 'Editar', edit_client_path %>
<%= link_to 'Voltar', clients_path %>
<%= link_to('BANIR ALUNO', ban_client_path, data: { confirm: 'Ação permanente. Tem certeza?' }) unless @client.banished? %>
<%= link_to('DESVINCULAR ALUNO', inactivate_client_path, data: { confirm: 'Ação permanente. Tem certeza?' }) if @client.active? %>