<h3>Matrícula</h3>

<p><%= @client.name %></p>
<p><%= @client.cpf %></p>
<p><%= @client.email%></p>
<p><%= @client.gym.name %></p>
<p><%= @client.plan.name %></p>
<p>Status: <%= @client.status %></p>
<% if @client.profile %>
  <p>Endereço: <%= @client.profile.address %></p>
  <p>Data de nascimento: <%= @client.profile.date_of_birth %></p>
  <p>Gênero: <%= @client.profile.gender %></p>
  <p>Contato: <%= @client.profile.contact %></p>
  <p>Apelido: <%= @client.profile.nickname %></p>
  <p>Método de pagamento: <%= @client.profile.payment_method %></p>
<% else%>
  <p> Perfil não encontrado </p>
<% end %>



<%= link_to 'Editar', edit_client_path %>
<%= link_to 'Atualizar status de pagamentos', verify_payments_client_path %>
<%= link_to 'Voltar', clients_path %>
<%= link_to('SUSPENDER ALUNO', suspend_client_path) unless @client.banished? || @client.suspended? %>
<%= link_to('BANIR ALUNO', banishe_client_path, data: { confirm: 'Ação permanente. Tem certeza?' }) unless @client.banished? %>
<%= link_to('DESVINCULAR ALUNO', inactive_client_path, data: { confirm: 'Ação permanente. Tem certeza?' }) if @client.active? %>
