<h3>Matrícula</h3>

<p><%= @client.name %></p>
<p><%= @client.cpf %></p>
<p><%= @client.email%></p>
<p><%= @client.gym.name %></p>
<p><%= @client.plan.name %></p>
<p>Status: <%= @client.status %></p>
<p><%= @client.profile.address %></p>
<p><%= @client.profile.date_of_birth %></p>
<p><%= @client.profile.gender %></p>
<p><%= @client.profile.contact %></p>
<p><%= @client.profile.nickname %></p>
<p><%= @client.profile.payment_method %></p>
<p><%= @client.profile.work_document %></p>



<%= link_to 'Editar', edit_client_path %>
<%= link_to 'Voltar', clients_path %>
<%= link_to('BANIR ALUNO', ban_client_path) unless @client.banished? %>