<h1>Cadastro de Preço</h1>
<%= bootstrap_form_for @price, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4" do |f| %>
  <%= f.collection_select(:gym_id, @gyms, :id, :name) %>
  <%= f.collection_select(:plan_id, @plans, :id, :name) %>
  <%= f.number_field :value  %>
  <%= f.submit 'Cadastrar' %>
<% end %>


<%= @price.errors.full_messages if @price.errors.any? %>