<h3><%= @gym.name %></h3>
<p><%=  @gym.cod %></p>
<p><%= @gym.address %></p>
<p><%= @gym.open_hour  %></p>
<p><%= @gym.close_hour  %></p>
<p><%= @gym.working_days  %></p>
<% @gym.gallery.each do |image| %>
  <%= image_tag image %>
<% end %>

<% if employee_signed_in? && current_employee.gym == @gym %>
  <%= link_to 'Editar', edit_gym_path %>
<% end %>

<%= link_to 'Voltar', root_path %>
