<div class="text-center font-weight-bold app-space-top-bottom">
  <% @plan.errors.full_messages.each do |message| %>
    <%= message %>
  <%end%>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h3>Editando plano:<span class="text-warning font-weight-bold "><%="  #{@plan.name}"%></span></h3>
      </div>
  </div>
  <div class="row">
    <div class="col">

        <%= form_for @plan do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name, class:"form-control app-space-imput-bottom" %>
          <%= f.label :minimum_permanence %>
          <%= f.number_field :minimum_permanence, class:"form-control app-space-input-bottom"%>
          <%= f.submit 'Salvar', class:"btn btn-secondary btn-block app-space-button" %>
        <% end %>

    </div>
  </div>

        <%= link_to 'Voltar', plan_path, class:"btn app-color-button btn-block app-space-button"%>
</div>
