<p>Preencha para cadastrar um plano</p>
<%= form_for @plan do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name  %>
  <%= f.label :minimum_permanence %>
  <%= f.number_field :minimum_permanence  %>
  
  <%= f.submit 'Cadastrar' %>
<% end %>
<%= flash[:alert] %>

<%= @plan.errors.full_messages %>