<div class="text-center font-weight-bold app-space-top-bottom">
  <% @plan.errors.full_messages.each do |message| %>
    <%= message %></li>
  <%end%>
</div>

<div class="container">
  <div class="row">
    <div class="col-5">
      <h1>Cadastro de Planos</h1>
    </div>
  </div>
</div>

<%= bootstrap_form_for @plan, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4" do |f| %> 
  <%= f.text_field :name %>
  <%= f.number_field :minimum_permanence%>
<div class="container">
  <div class="row">
    <div class="col-2">
      <%= f.submit 'Cadastrar', class:"btn btn-secondary btn-block app-space-button"  %>
      <% end %>
      <%= link_to 'Voltar', root_path, class:"btn btn-secondary btn-block app-space-button"%>

    </div>
  </div>
</div>


