<p>Preencha para cadastrar um plano</p>
<%= form_for @plan do |f| %>
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name  %>
  <%= f.label :minimum_permanence, 'Permanência mínima:' %>
  <%= f.number_field :minimum_permanence  %>
  
  <%= f.submit 'Cadastrar' %>
<% end %>
<%= flash[:alert] %>

<%= @plan.errors.full_messages %>