<%@gyms.each do |gym|%>
  <div id="<%=gym.id%>">
  <%= gym.id %>
    
    <%if @trainer.gym?(gym) %>
   
      <%= link_to "Desvincular", gym_trainer_path(@trainer.gym_trainer(gym).id), method: :delete %>
    <% else %>
      <%= link_to "Vincular", gym_trainer_gym_trainers_path(gym, @trainer), method: :post %>
    <% end %>
  </div>
<% end %>
<%= link_to "Voltar", @trainer%>
 