<%= flash[:message]%>

<h1><%= @trainer.name %></h1>
<p><%= @trainer.cpf %></p>
<p><%= @trainer.translate_status%></p>

<p>Academias</p>
<% @trainer.gym_trainers.each do |gym_trainer|  %>  
<p>Unidade: <%= "#{gym_trainer.gym.id}"%></p>
<% end %>


<%= link_to "Editar", edit_trainer_path(@trainer)%>
<%= link_to "Adicionar mais unidades", add_units_trainer_path(@trainer.id) %>
