
<center>

<div style="font-size:25px">
<h1><%= @trainer.name %></h1>
<p><b>CPF:</b> <%= @trainer.cpf %></p>

<p><b> Status: </b><%= @trainer.translate_status%></p>

<p><b>Academias que faz parte</b></p>

<ul>
<% @trainer.gym_trainers.each do |gym_trainer|  %>
  <li><%= gym_trainer.gym.name%></li>

<% end %>
</ul>

<p><%= link_to "Editar", edit_trainer_path(@trainer)%></p>
<% if current_employee.admin? %>
  <%= link_to "Adicionar mais unidades", add_units_trainer_path(@trainer.id) %>
<% end %>
<p><%= link_to "Voltar", trainers_path%></p>
</div>
</center>
