    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Listas
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to 'Lista de Aulas', activities_path, class:"dropdown-item" %>
        <%= link_to 'Lista de Alunos', clients_path, class:"dropdown-item" %>
        <%= link_to 'Lista de Funcionários Ativos', employees_path, class:"dropdown-item" %>
        <%= link_to 'Lista de Funcionários Inativos', employees_unactives_path, class:"dropdown-item" %>
        <%= link_to 'Lista de Academias', gyms_path, class: "dropdown-item" %>
    </div>
